# Trevor O'Connell
## Week 5: 09/24/2020
### Python For Loops

**General for loops format:**

<code>for item in object:
    statements to do work</code>

In [1]:
sc = [70, 65, 75, 90, 88, 92, 66, 96, 67, 85]

In [2]:
sc

[70, 65, 75, 90, 88, 92, 66, 96, 67, 85]

In [3]:
for n in sc:
    print(n)

70
65
75
90
88
92
66
96
67
85

In [4]:
4 % 2

0

In [5]:
5 % 2

1

In [10]:
for n in sc:
    if n % 2 == 0:
        print(n)

70
90
88
92
66
96

In [11]:
for n in sc:
    if n % 2 != 0:
        print(n)

65
75
67
85

In [12]:
for n in sc:
    if n % 2 == 0:
        print(n)
    else:
        print("Odd Score!")

70
Odd Score!
Odd Score!
90
88
92
66
96
Odd Score!
Odd Score!

In [13]:
sc_sum = 0

for n in sc:
    sc_sum = sc_sum + n
    
print(sc_sum)

794

In [15]:
sc_sum = 0

for n in sc:
    sc_sum += n
    
print(sc_sum)

794

In [17]:
sc_sum = 0

for n in sc:
    sc_sum += n

avg = sc_sum / 10
print(avg)

79.4

In [19]:
sc_sum = 0

for n in sc:
    sc_sum += n

avg = sc_sum / len(sc)
print(avg)

79.4

In [20]:
for letter in "I am a student in CIS310!":
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0
!

In [21]:
t = (5, 7, 9, 10, 14)

for n in t:
    print(n)

5
7
9
10
14

In [22]:
ls1 = [(10,20), (30,40), (50,60) , (70,80), (90,100)]

In [24]:
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [31]:
for (n) in ls1:
    print(n)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [32]:
for (n1,n2) in ls1:
    print(n1)

10
30
50
70
90

In [33]:
for (n1,n2) in ls1:
    print(n2)

20
40
60
80
100

In [35]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [36]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [38]:
for item in d:
    print(item)

brand
model
year

In [39]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [40]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [41]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [42]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [44]:
for  k,v in d.items():
    print(k)
    print(v)

brand
Ford
model
Mustang
year
1964

In [47]:
for k in d.keys():
    print(k)

brand
model
year

In [48]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [49]:
for tup in d.items():
    print(tup)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [51]:
sorted([5,6,7,8])

[5, 6, 7, 8]

In [53]:
d1 = {"k1":5, "k2":8,"k3":3}

In [54]:
d1.values()

dict_values([5, 8, 3])

In [55]:
sorted(d1.values())

[3, 5, 8]

In [59]:
fruits = ["Apple","Banana","Cherry"]

for f in fruits:
    print(f)

Apple
Banana
Cherry